.message-container{
  border-radius: 10px;
  margin: 5px 45px;
}
.message-general{
  align-self: flex-start;
  background-color: rgb(32, 44, 51);
  max-width: 40%;
}
.message-moi{
  align-self: flex-end;
  background-color:  rgb(30, 75, 92);
  max-width: 40%;
}

.message-info{
  display: flex;
  flex-direction: row;
}
.message-name{
  font-weight: bold;
  flex: 1;
}
.message-content{
  font-weight: 300;
}
.message-time{
  flex: 0;
  font-weight: 300;
}