.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 200px;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(55, 55, 65);
  box-shadow: 0 0 10px rgba(52, 38, 206, 0.5);
}
.input-login {
  width: 90%;
}
.button-login {
  width: 90%;
}
.msg-validation-login {
  font-size: 12px;
  color: rgb(250, 250, 250);
}
.login-bts-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
.login-bt-cadastre {
  font-weight: bold;
  min-width: 80px;
  min-height: 35px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.login-bt-cadastre:hover {
  background-color: rgba(245, 245, 245, 0.6);
  color:rgb(55, 55, 65);
}