.popupmsg-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.visible{
  visibility: visible;  
}
.popupmsg-content {
  min-height: 50px;
  min-width: 200px;
  max-width: 250px;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 10px;
  color: rgb(16, 16, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 20px;
}
.popupmsg-bt-close {
  align-self: flex-end;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupmsg-bt-close:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.popupmsg-msg{
  flex: 1;
  text-align: center;
  font-weight: 300;
}