.conversations-container {
  width: 35%;
  max-width: 450px;
  background-color: rgb(45, 45, 60);
  border-right: solid 1px rgb(68, 68, 81);
}
.conversations-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: rgb(55,55,65);
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.container-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.conversations-profile-picture {
  width: 40px;
  border-radius: 50%;
  margin: 5px;
}
.conversations-user-logout{
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  min-width: 20px;
}
.conversations-user-logout:hover {
  background-color: rgb(89, 39, 46);
}
.conversationcontainer-principal {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}