.en-parlant-container {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 100vh;
}
.en-parlant-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  background-color: rgb(55, 55, 65);
  font-size: 12px;
}
.en-parlant-headerimg {
  width: 40px;
  border-radius:  50%;
  margin: 5px;
}
.en-parlant-headercontent {
  display: flex;
  flex-direction: column;
}
.en-parlant-headercontenttitle {
  margin: 0px;
  justify-self: center;
}